<div class="container">
  <div class="row">
    <div class="col m8 offset-m2 s12">
      <h5 class="green-text text-lighten-1">Funcionários</h5>
      <div *ngIf="employees?.length > 0">
        <div class="card" *ngFor="let employee of employees">
          <div class="card-content">
            <div class="row form">
              <div class="col m9 s12">
                <div class="row title-box">
                  <div class="col m8 s12">
                    <h5 class="title">{{ employee.name }}</h5>
                  </div>
                  <div class="col m12 s4 l2">
                    <p>
                      <a class="right" href="" routerLink="/clock-in-out/{{ employee.id }}">
                        <i mz-icon-mdi
                          [align]="'right'"
                          [icon]="'eye'"
                          [size]="'24px'">
                        </i>
                      </a>
                    </p>
                  </div>
                  <div class="col m12 s3 l1">
                    <div class="row">
                      <div class="col m6">
                        <a href="#" class="grey-text" (click)="deleteEmployee(employee)">
                          <i mz-icon-mdi [icon]="'delete'" [size]="'24px'">
                          </i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col s1 m6 l3 ">
                    <b class="description grey-text">PIS:</b>
                    <p class="description grey-text">{{ employee.pis }}</p>
                  </div>
                  <div class="col s1 m6 l3">
                    <b class="description grey-text"> CPF:</b>
                    <p class="description grey-text">{{ employee.cpf }} </p>
                  </div>

                  </div>
                    <div class="row">
                      <div class="col s1 m6 l3">
                        <b class="description grey-text">Time:</b>
                        <p class="description grey-text"> {{ employee.team }} </p>
                      </div>
                      <div class="col s1 m6 l3">
                        <b class="description grey-text">Cargo:</b>
                        <p class="description grey-text">{{ employee.office }} </p>
                      </div>
                  </div>

              </div>
              <div class="col m3 s12 center">
                <div class="col m12 s6">
                  <div class="row">
                    <a class="btn light-green center-align" routerLink="/employees/{{ employee.id }}">Editar</a>
                  </div>
                </div>
                <div class="col m12 s6">
                  <div class="row">
                    <a class="btn blue center-align" (click)="createClock(employee)">Ponto</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-lightred green lighten-1 pulse" routerLink="/employee/new">
    <i mz-icon-mdi [icon]="'plus'" [size]="'24px'">
    </i>
  </a>
</div>



