<div class="row">
  <div class="col m8 offset-m2">
    <h5 class="green-text text-lighten-2">Novo Funcionário</h5>
    <div class="card">
      <div class="card-content">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

          <div class="row">
            <div class="col m9 s12">
              <input type="text" placeholder="Nome" name="name" [(ngModel)]="employee.name" required #name="ngModel">
              <label for="name" [hidden]="name.valid || name.pristine" class="red-text text-lighten-2">Obrigatório</label>
            </div>
          </div>

          <div class="row">
            <div class="col m9 s12">
              <input type="text" placeholder="PIS" name="pis" [(ngModel)]="employee.pis" required #pis="ngModel">
              <label for="pis" [hidden]="pis.valid || pis.pristine" class="red-text text-lighten-2">Obrigatório</label>
            </div>
          </div>

          <div class="row">
            <div class="col m9 s12">
              <input type="text" placeholder="CPF" name="CPF" [(ngModel)]="employee.cpf">
            </div>
          </div>

          <div class="row">
            <div class="col m9 s12">
              <input type="text" placeholder="Equipe" name="team" [(ngModel)]="employee.team">
            </div>
          </div>

          <div class="row">
            <div class="col m9 s12">
              <input type="text" placeholder="Cargo" name="office" [(ngModel)]="employee.office">
            </div>
          </div>


          <div class="row">
            <div class="col m3 right">
              <button [disabled]="!f.valid" class="btn" type="submit">Criar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
