<div class="home">
  <div class="container">
    <div class="center-align row">
      <div class="col m10 s12 offset-s0 offset-m1">
        <h4 class="title green-text text-lighten-4">PONTO MAIS</h4>
      </div>
      <div class="col m10 s12 offset-s0 offset-m1">
        <h5 class="subtitle white-text">
            Uma forma símples de cadastrar ponto eletrônico
        </h5>
        <a routerLink="/employees" class="btn green lighten-2 btn-forms">
            Comece agora!
        </a>
      </div>
    </div>
  </div>
</div>
